$color-blue: #0099BB;
$color-blue-dark: darken($color-blue, 22%);
$color-blue-light: lighten($color-blue, 62%);
$color-green: #19AA94;
$color-green-dark: darken($color-green, 20%);
$color-green-light: lighten($color-green, 50%);
$color-orange: #DD7240;
$color-yellow: #F4C522;