$navbar-height: 60px;
$navbar-sub-height: 50px;
$sidebar-width: 280px;

@import "colors.scss";

/* Navigation */
@mixin navbar-shadow {
    box-shadow: 0 3px 8px -6px transparentize($color-blue, .6);
    border-bottom: 1px solid gray("300");
}

nav.navbar {
    @extend .fixed-top, .navbar-expand-md, .navbar-light, .bg-white;
    @include navbar-shadow;
    transition: box-shadow 1s;
    height: $navbar-height;

    &:hover {
        box-shadow: 0 0 6px 0 transparentize($color-blue, .6);
    }

    a.navbar-brand {
        color: $color-green-dark;

        &:hover {
            color: $color-green;
        }

        & span.name-case {
            font-weight: bold;
        }
    }

    ul.navbar-nav a.nav-link {
        @extend .mr-1;
        display: inline-block;
        border-radius: 4px;
        color: $color-blue;

        &:hover {
            div.user-icon {
                border-color: $color-blue;
            }
        }

        &:hover, &.active {
            background: $color-green-light;
            color: $color-blue-dark;
        }

        i {
            color: $color-blue-dark;
        }

        &#nav-project-picker {
            background: gray("200");
            color: gray("600");

            &:hover {
                background: gray("300");
                color: gray("900");
            }

            i {
                color: gray("900");
            }
        }

        &#nav-user {
            $user-icon-size: 28px;
            padding-left: calc(#{$user-icon-size} + .5rem + .2rem);

            div.user-icon {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: .5rem;
                display: inline-block;
                margin: auto;
                border-radius: 5px;
                width: $user-icon-size;
                height: $user-icon-size;
                line-height: $user-icon-size;
                background: $color-blue-dark;
                font-size: 13px;
                text-align: center;
                color: #ffffff;
            }
        }
    }

    .dropdown-menu {
        border: 1px solid $color-green;
        border-radius: 0;

        a {
            color: $color-blue;

            &:hover {
                background: $color-green-light;
            }
        }
    }

    .navbar-nav {
        flex-direction: row;

        .nav-link {
            white-space: nowrap;
        }
    }

    @include media-breakpoint-down(sm) {
        #navbar-sections {
            @include navbar-shadow;
            position: fixed;
            top: $navbar-height;
            left: 0;
            width: 100%;
            height: $navbar-sub-height;
            background: gray("100");

            .navbar-nav {
                overflow-x: scroll;

                .nav-link {
                    padding: .25rem;
                    font-size: .9rem;
                }
            }
        }

        #navbar-control {
            .nav-link {
                padding: .25rem;
            }

            div.user-icon {
                margin: 2px !important;
            }

            button.navbar-toggler {
                padding: .25rem;
                font-size: .9rem;
            }

            div.dropdown-menu {
                position: absolute;
            }
        }
    }

    @include media-breakpoint-up(md) {
        #navbar-sections {
            position: static;
            height: initial;

            .navbar-nav {
                .nav-link {
                    padding: .5rem .7rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

/* Content Container */
div.content {
    @extend .container-fluid, .row;
    margin-top: $navbar-height + $navbar-sub-height;
}

@include media-breakpoint-up(md) {
    div.content {
        margin-top: $navbar-height;
    }
}

/* Sidebar */
aside.sidebar {
    @extend .col;
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;
    border-left: 1px solid gray("300");

    nav {
        position: sticky;
        top: $navbar-height;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - #{$navbar-height});
    }
}

/* Main */
main {
    @extend .col, .p-0;
    background: $color-blue-light;

    div.content-header {
        height: 120px;
        border-bottom: 1px solid gray("300");
    }

    div.content-body {
        @extend .px-3;
    }
}