@import "variables.scss";
@import "colors.scss";

@import "navigation.scss";
@import "sidebar.scss";

/* Content Container */
div.content {
    @extend .row;
    margin-top: $navbar-height + $navbar-sub-height;
}

@include media-breakpoint-up(md) {
    div.content {
        margin-top: $navbar-height;
    }
}

/* Main */
main {
    @extend .col, .p-0;
    background: $color-blue-light;

    div.content-header {
        height: 120px;
        border-bottom: 1px solid gray("300");
    }

    div.content-body {
        @extend .px-3;
    }
}