$navbar-height: 60px;
$sidebar-width: 280px;

@import "colors.scss";

/* Navigation */
nav.navbar {
    @extend .fixed-top, .navbar-expand-md, .navbar-light, .bg-white;
    transition: box-shadow 1s;
    height: $navbar-height;
    box-shadow: 0 0 6px 0 transparentize($color-blue, .8);
    border-bottom: 1px solid gray("300");

    &:hover {
        box-shadow: 0 0 6px 0 transparentize($color-blue, .6);
    }

    a.navbar-brand {
        color: $color-green-dark;

        &:hover {
            color: $color-green;
        }

        & span.name-case {
            font-weight: bold;
        }
    }

    ul.navbar-nav a.nav-link {
        @extend .mr-1;
        display: inline-block;
        border-radius: 4px;
        color: $color-blue;

        &:hover {
            div.user-icon {
                border-color: $color-blue;
            }
        }

        &:hover, &.active {
            background: $color-green-light;
            color: $color-blue-dark;
        }

        i {
            color: $color-blue-dark;
        }

        &#nav-project-picker {
            background: gray("200");
            color: gray("600");

            &:hover {
                background: gray("300");
                color: gray("900");
            }

            i {
                color: gray("900");
            }
        }

        &#nav-user {
            $user-icon-size: 28px;
            padding-left: calc(#{$user-icon-size} + .5rem + .2rem);

            div.user-icon {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: .5rem;
                display: inline-block;
                margin: auto;
                border-radius: 5px;
                width: $user-icon-size;
                height: $user-icon-size;
                line-height: $user-icon-size;
                background: $color-blue-dark;
                font-size: 13px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

/* Content Container */
div.content {
    @extend .container-fluid, .row;
    margin-top: $navbar-height;
}

/* Sidebar */
aside.sidebar {
    @extend .col;
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;
    border-left: 1px solid gray("300");

    nav {
        position: sticky;
        top: $navbar-height;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - #{$navbar-height});
    }
}

/* Main */
main {
    @extend .col, .p-0;
    background: $color-blue-light;

    div.content-header {
        height: 120px;
        border-bottom: 1px solid gray("300");
    }

    div.content-body {
        @extend .px-3;
    }
}